<!DOCTYPE html>
<html ng-app="myApp" id="ng-app" ng-cloak>
<head>
<meta content="text/html;charset=UTF-8" http-equiv="Content-Type" />
<title>小鹰</title>
<link rel="stylesheet" type="text/css" href="css/css.css" />
<link rel="stylesheet" type="text/css" href="css/uploadify.css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery.uploadify.min.js"></script>
<script src="My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="js/pic.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/list.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</head>

<body ng-controller="overall">
<div class="header">
	<div class="logo">
    	<p>当前用户</p>
    	<p>
        	<strong>XXXXXXXXX</strong>
        </p>
    </div>
    <ul id="nav">
    	<li ng-repeat="nav in navData">
        	<a ng-href="{{nav.url}}">
        		<p><i ng-class="nav.icon">&nbsp;</i></p>
                <p>{{nav.name}}</p>
            </a>
            <ol>
            	<li ng-repeat="subs in nav.subnav">
                	<a ng-href="{{subs.url}}" ng-click="subs.object._click()">
                    	{{subs.name}}
                    </a>
                </li>
            </ol>
        </li>
    </ul>
    <div class="right">&nbsp;</div>
</div><!--end header-->
<div class="layout">
	
	<div class="top"></div>
    <div class="box">
    	<div class="title">
        	<div class="searchBox">
            	<input type="text" placeholder="请输入应用名称" ng-change="searchnull()" ng-model="query" />
                <a href="javascript:void(0)" ng-click="searchs()" id="search">搜索</a>
            </div>
            <a href="javascript:void(0);" class="addApp" ng-click="addList()">增加信息</a>
        </div><!--end title-->
        <div class="tableBox">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
            	<thead>
                    <tr>
                        <td width="4%">序号</td>
                        <td width="11%">名称</td>
                        <td width="8%">logo</td>
                        <td width="6%">
                        	<a href="javascript:void(0);" ng-click="sort_by('score')" class="score" ng-class="_reverse">评分<i></i></a>
                        </td>
                        <td width="9%">上架时间</td>
                        <td width="6%">最新版本</td>
                        <td width="10%">显示版本</td>
                        <td width="37%">简介</td>
                        <td width="10%"><div style="width:108px">操作</div></td>
                    </tr>
                </thead>
                <tbody ng-repeat="list in pagedItems[currentPage] | orderBy:sortingOrder:_reverses">
                    <tr>
                        <td>{{$index+1}}</td>
                        <td>{{list.name}}</td>
                        <td>
                        <img ng-src="{{list.logo}}" width="80" height="60" />
                        </td>
                        <td><span class="grade">{{list.score}}</span></td>
                        <td>{{list.time}}</td>
                        <td>{{list.version}}</td>
                        <td>{{list.show}}</td>
                        <td>
                        <div class="info">{{list.info.text}}
                        	<a href="javascript:void(0)" class="btn detail" ng-click="viewDetails()">{{slideText}}</a>
                        </div>
                        </td>
                        <td>
                        	
                            <a href="javascript:void(0)" ng-click="updateList($index)" class="btn edit">编辑</a>
                            <a href="javascript:void(0)" ng-click="deleteShow()" class="btn delete">删除</a>
                            <div class="sure">
                            	<div class="deleteBox" ng-show="deleteBox=='show'" ng-class="{'show': 'show', 'hide': ''}[deleteBox]" style="display:none;">
                                    <div class="title">
                                        温馨提示
                                        <a href="javascript:void(0)" class="close" ng-click="deleteBoxHide()">关闭</a>
                                    </div>
                                    <div class="content">
                                        您确定要删除这条信息吗？
                                        <p>
                                        	<a href="javascript:void(0)" ng-click="deleteList($index)" class="btn edit">确定</a>
                            				<a href="javascript:void(0)" ng-click="deleteBoxHide()" class="btn delete">取消</a>
                                        </p>
                                    </div>
                                </div><!--end tipBox-->
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="details" ng-class="{true: 'show', false: ''}[details]" style="display:none;">
                    	<td colspan="9">
                        	<div class="infoBox">
                            	<ul class="tab">
                                	<li class="on">简介</li>
                                    <li>历史版本</li>
                                </ul>
                                <div class="con">
                                	{{list.info.text}}
                                <div class="picShow" id="show{{$index}}" ng-show="list.info.pic">
                                    <ul>
                                        <li ng-repeat="imgs in list.info.pic">
                                            <img ng-src="{{imgs}}" />
                                        </li>
                                    </ul>
                                    <div class="number">
                                    </div><!--end number-->
                                    <a href="javascript:void(0)" class="arrow prev">&nbsp;</a>
                                    <a href="javascript:void(0)" class="arrow next">&nbsp;</a>
                                </div><!--end picShow-->

                                </div><!--end con-->
                                <div class="con" style="display:none;">
                                	<div class="version">
                                    	<ul>
                                        	<li class="title">
                                            	<span>版本号</span>
                                                <span>更新时间</span>
                                                <span><a href="javascript:void(0)" ng-click="addHistory($index)" class="btn edit">增加历史</a></span>
                                            </li>
                                            <li ng-repeat="items in list.history">
                                            	<span>{{items.version}}</span>
                                                <span>{{items.time}}</span>
                                                <span><a href="javascript:void(0)"  ng-click="updateHistory($parent.$index,$index)"  class="btn download">编辑</a>
                                                	  <a href="javascript:void(0)"  ng-click="deleteHistory($parent.$index,$index)" class="btn delete">删除</a>
                                                </span>
                                            </li>
                                        </ul>
                                    </div><!--end version-->
                                </div><!--end con-->
                            </div><!--end infoBox-->
                        </td>
                    </tr>
              	</tbody>
            </table>
        </div><!--end tableBox-->
        <div class="pages">
        	<a href="javascript:void(0);" ng-class="{disabled: currentPage == 0}" ng-click="prevPage()">上一页</a>
           <span><strong>{{currentPage+1}}</strong>/{{pagedItems.length}}页</span>
            到
            <input type="text" ng-model="page" />
             页
            <a href="javascript:void(0);" ng-click="setPage()">确定</a>
            <a href="javascript:void(0);" ng-class="{disabled: currentPage == pagedItems.length - 1}" ng-click="nextPage()">下一页</a>
        </div><!--end pages-->
    </div><!--end box-->
</div><!--end layout-->
<div id="all" ng-show="allBox=='show'" style="display:none;" ng-click="closeAll()">&nbsp;</div>
<div class="popupBox" ng-show="popupBox =='show'" ng-style="{'top':_top}" ng-class="{'show': 'show', 'hide': ''}[popupBox]" style="display:none;">
	<div class="title">
    	修改内容
    	<a href="javascript:void(0)" class="close" ng-click="closeAll()">关闭</a>
    </div>
    <div class="content">
    	<form novalidate  name="appForm" >
    	<ul class="form">
        	<li>
            	<label>应用名称</label>
                <input type="text" name="appName" ng-model="app.name" required />
                <span class="check" ng-show="appForm.appName.$dirty && appForm.appName.$invalid">填写有误</span>
            </li>
            <li>
            	<label>评分</label>
                <input type="text" name="appScore" ng-pattern="/^([0-9]*\.)?[0-9]{0,2}$/" ng-model="app.score" required />
                <span class="check" ng-show="appForm.appScore.$dirty && appForm.appScore.$invalid">填写有误</span>
            </li>
            <li>
            	<label>上架时间</label>
                <input type="text" name="appTime" ng-model="app.time" onClick="WdatePicker()" my-datepicker required />
                <span class="check" ng-show="appForm.appName.$dirty && appForm.appName.$invalid">填写有误</span>
            </li>
            <li>
            	<label>最新版本</label>
                <input type="text" name="appVersion" ng-model="app.version" required />
                <span class="check" ng-show="appForm.appName.$dirty && appForm.appName.$invalid">填写有误</span>
            </li>
            <li>
            	<label>显示版本</label>
                <input type="text" name="appShow" ng-model="app.show" required />
                <span class="check" ng-show="appForm.appShow.$dirty && appForm.appShow.$invalid">填写有误</span>
            </li>
             <li class="uploads">
            	<label>应用文件</label>
                <div class="uploadBtn">
                    <input type="file" ng-model="app.urls" id="uploadifyApp"  upload-uploadify />
                    <input type="hidden" placeholder="应用地址" name="appUrl" ng-model="app.url" />
                </div>
            </li>
            <li  class="uploads">
            	<label>上传logo</label>
                <div class="uploadBtn">
               		<input type="file" ng-model="app.logos" id="uploadifyLogo"  upload-uploadify />
                </div>
                <div class="preview">
                	<ol>
                        <li ng-show="app.logo">
                        	<a href="javascript:void(0)" class="btn delete" ng-click="app.logo=''">删除</a>
                            <i>&nbsp;</i>
                            <span>{{app.logo}}</span>
                            <div class="bar">
                            </div>
                            <div class="pic"><img ng-src="{{app.logo}}" width="56" height="42" /></div>
                        </li>
                    </ol>
                </div>
            </li>
            <li  class="full">
            	<label>应用截图</label>
                <div class="uploadBtn">
                	<input type="file" ng-model="app.info.pics" id="uploadifyPic"  upload-uploadify />
                </div>
                <div class="preview">
                	<ol>
                    	
                        <li ng-repeat="imgs in app.info.pic">
                        	<a href="javascript:void(0)" class="btn delete" ng-click="app.info.pic.splice($index,1)">删除</a>
                            <i>&nbsp;</i>
                            <span>{{imgs}}</span>
                            <div class="bar">
                            </div>
                            <div class="pic"><img ng-src="{{imgs}}" width="56" height="42" /></div>
                        </li>
                    </ol>
                </div>
            </li>
            <li class="full">
            	<label>简介</label>
                <textarea cols="" rows="" name="appInfo" ng-model="app.info.text" ng-maxlength="1000"></textarea>
                <p>还可以输入<span class="red"> {{1000-app.info.text.length}} </span>字</p>
            </li>
            <li class="button">
                <a href="javascript:void(0);" ng-click="submitApp(types,num)" class="submit">提交</a>
            </li>
        </ul>
        </form>
    </div><!--end content-->
</div><!--end popupBox-->
<div class="popupBox minBox" ng-show="historyBox =='show'" ng-class="{'show': 'show', 'hide': ''}[historyBox]" style="display:none;">
	<div class="title">
    	历史版本
    	<a href="javascript:void(0)" class="close" ng-click="closeAll()">关闭</a>
    </div>
    <div class="content">
    	<form novalidate  name="historyForm" >
    	<ul class="form">
            <li>
            	<label>版本号</label>
                <input type="text" name="historyVersion" ng-model="history.version" required />
                <span class="check" ng-show="historyForm.historyVersion.$dirty && historyForm.historyVersion.$invalid">填写有误</span>
            </li>
            <li>
            	<label>更新时间</label>
                <input type="text" name="historyTime" ng-model="history.time" onClick="WdatePicker()" my-datepicker required />
                <span class="check" ng-show="historyForm.historyTime.$dirty && historyForm.historyTime.$invalid">填写有误</span>
            </li>
            <li class="uploads">
            	<label>上传应用</label>
                <div class="uploadBtn">
                	<input type="file" ng-model="history.urls" id="historyApp"  upload-uploadify />
                	<input type="hidden" name="historyUrl" ng-model="history.url" />
                </div>
            </li>
            <li class="button">
                <a href="javascript:void(0);" ng-click="submitHistory(hisTypes,pareNum,num)" class="submit">提交</a>
            </li>
        </ul>
        </form>
    </div><!--end content-->
</div><!--end popupBox-->
<div class="popupBox minBox" ng-show="infoBox =='show'" ng-class="{'show': 'show', 'hide': ''}[infoBox]" style="display:none;">
	<div class="title">
    	个人信息
    	<a href="javascript:void(0)" class="close" ng-click="closeAll()">关闭</a>
    </div>
    <div class="content">
    	<form novalidate  name="infoForm" >
    	<ul class="form">
            <li>
            	<label>Token</label>
                <input type="text" name="infoToken"  ng-pattern="myToken" ng-model="info.Token" required />
                <span class="check" ng-show="infoForm.infoToken.$dirty && infoForm.infoToken.$invalid">填写有误</span>
            </li>
            <li>
            	<label>AppID</label>
                <input type="text" name="infoAppid" ng-pattern="myToken" ng-model="info.AppID" required />
                <span class="check" ng-show="infoForm.infoAppid.$dirty && infoForm.infoAppid.$invalid">填写有误</span>
            </li>
			<li>
            	<label>Secret</label>
                <input type="text" name="infoSecret" ng-pattern="myToken" ng-model="info.Scret" required />
                <span class="check" ng-show="infoForm.infoSecret.$dirty && infoForm.infoSecret.$invalid">填写有误</span>
            </li>
            <li class="button">
                <a href="javascript:void(0);" ng-click="submitInfo()" class="submit">确定</a>
            </li>
        </ul>
        </form>
    </div><!--end content-->
</div><!--end popupBox-->
<div class="popupBox minBox" ng-show="passwdBox =='show'" ng-class="{'show': 'show', 'hide': ''}[passwdBox]" style="display:none;">
	<div class="title">
    	修改密码
    	<a href="javascript:void(0)" class="close" ng-click="closeAll()">关闭</a>
    </div>
    <div class="content">
    	<form novalidate  name="passwdForm" >
    	<ul class="form">
            <li>
            	<label>原密码</label>
                <input type="password" name="passwdOld"  placeholder="长度为6-12位字母或数字"  ng-pattern="myPasswd" ng-model="passwd.old" required />
                <span class="check" ng-show="passwdForm.passwdOld.$dirty && passwdForm.passwdOld.$invalid">填写有误</span>
            </li>
            <li>
            	<label>新密码</label>
                <input type="password" name="passwdNew" ng-model="passwd.news" class="newpassword" required />
                <span class="check" ng-show="passwdForm.passwdNew.$error.newpasswd">填写有误</span>
            </li>
			<li>
            	<label>确认密码</label>
                <input type="password" name="passwdConfirm" ng-model="passwd.confirms" class="confirmpassword"  required />
                <span class="check2" ng-show="passwdForm.passwdConfirm.$error.confirmpasswd">两次输入密码不一致</span>
            </li>
            <li class="button">
                <a href="javascript:void(0);" ng-click="submitPasswd()" class="submit">确定</a>
            </li>
        </ul>
        </form>
    </div><!--end content-->
</div><!--end popupBox-->
<div class="tipBox" ng-show="tipBox=='show'" ng-class="{'show': 'show', 'hide': ''}[tipBox]" style="display:none;">
	<div class="title">
    	温馨提示
    	<a href="javascript:void(0)" class="close" ng-show="tipClose=='show'" ng-click="tipBoxHide()" style="display:none;">关闭</a>
        <a href="javascript:void(0)" class="close" ng-show="allClose=='show'" ng-click="closeAll()" style="display:none;">全部关闭</a>
    </div>
    <div class="content">
    	{{tipText}}
    </div>
</div><!--end tipBox-->
</body>
</html>
