* { margin: 0; padding: 0; }
body, html { min-height: 100%;}
body { font: lighter 13px/150% Arial, Helvetica, sans-serif; color: #414141; margin: 0; padding: 0; background: #fff; min-width:1000px;}
form, ul, ol, li, a, input, p, em, label, select, textarea, h1, h2, h3, h4 { margin: 0; padding: 0; list-style: none; outline: none; }
ul, ol, li, div { zoom: 1; vertical-align: top; }
img { border: none; margin: 0; padding: 0; }
a { color: #333; text-decoration: none;  hide-focus:expression(this.hideFocus=true)
}
a:hover { color: #0099ed; }
p { clear: both; }
/*============main================*/
.header{width:100%; height:88px; background:#606ade url(../images/header_left.jpg) no-repeat 180px 0; font-size:14px;}
.header .right{width:239px; height:88px; background:url(../images/header_right.png) no-repeat; position:absolute; z-index:0; right:0; top:0;}
.header ul{margin-left:180px; position:relative; z-index:1;}
.header li{width:98px; height:88px; background:rgba(0,0,0,.4); float:left; margin-right:1px; position:relative;}
.header li:first-child{float:right; margin-right:0;}
.header li.on{background:rgba(100,0,164,.4);}
.header a{color:#fff; width:98px; height:88px; display:block;}
.header a:hover{background:rgba(0,0,0,.4);}
.header li.on a:hover{background:none;}
.header li i{width:30px; height:32px; margin:14px 0 8px 0; display:inline-block; background:url(../images/icon.png) no-repeat;}
.header li i.home{background-position:0 3px;}
.header li i.user{background-position:0 -32px;}
.header li i.image{background-position:-72px 3px;}
.header li i.app{background-position:-72px -33px;}
.header li i.live{background-position:-72px -66px;}

.header li i.exit{background-position:0 -68px;}
.header li p{width:100%; float:left; text-align:center;}
.header li ol{width:100px; position:absolute; left:-1px; top:88px; padding-top:3px; display:none;}
.header ol li{width:100%; height:40px; line-height:40px; text-align:center;  border-top:1px solid #9c9c9c;}
.header ol li:first-child{border-top:none;}
.header ol li a{width:100%; height:40px; background:#6155fc; color:#fff; font-size:13px;}
.header ol li a:hover{background:#603bc2 !important; color:#fff;}

.logo{width:88px; height:68px; padding:20px 10px 0 82px; float:left; background:#4b47ae url(../images/logo.png) no-repeat 12px center;}
.logo p{padding-bottom:5px; color:#d3d3d3;}
.logo strong{font-weight:bold; color:#fff;}
.layoutL{width:180px; height:100%; position:fixed; left:0; top:0; color:#fff; font-size:14px; background:url(../images/menu_bg.jpg) no-repeat 0 52px;}

.layout{width:100%; clear:both;}
.layout .top{width:100%; height:3px; background:#903deb; overflow:hidden;}
.layout .box{padding:20px; clear:both;}
.layout .title{width:100%; float:left; padding-bottom:12px;}
.classifyTab{width:85%; float:left; border:1px solid #ccc; border-radius:5px; height:40px; line-height:40px; overflow:hidden;}
ul.tabs{min-width:100%; width:500%;}
ul.tabs li{min-width:70px; text-align:center; padding:0 10px; border-right:1px solid #ccc; cursor:pointer; font-size:14px; float:left;}
ul.tabs li:hover{color:#0f93d5;}
ul.tabs li:first-child{border-radius:4px 0 0 4px;}
ul.tabs li.on{background:#0f93d5; color:#fff;}
.searchBox{width:460px; border:4px solid #eaeaec; float:left; border-radius:3px;}
.searchBox input{width:320px; padding:8px 10px; height:20px; line-height:20px; border:none; background:#fff; font-size:14px; float:left;}
.searchBox a{width:120px; height:36px; line-height:36px; text-align:center; font-size:14px; color:#fff; background:#5b55e2; float:left;}

.addApp{width:14%; max-width:150px; text-align:center; height:36px; line-height:36px; float:right; font-size:14px; color:#fff; background:#9642f1; margin-top:2px; border-radius:3px;}
.addApp:hover,.searchBox a:hover{background:#222; color:#fff; 
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;}
.classify{width:14%; max-width:150px; text-align:center; height:36px; line-height:36px; float:right; font-size:14px; color:#fff; background:#397ddb; border-radius:3px;}
.classify:hover{background:#333; color:#fff; 
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;}
.tableBox{width:100%; clear:both;}
.tableBox td{ vertical-align:middle; text-align:center; border-bottom:2px solid #fff;}
.tableBox thead td{background:#6a6c81; color:#fff; font-size:14px; padding:8px;}
.tableBox thead td:first-child{ border-top-left-radius:3px;}
.tableBox thead td:last-child{ border-top-right-radius:3px;}
.tableBox tbody td{background:#f5f5f5; padding:5px 8px;}
.tableBox td img{border-radius:5px; border:1px solid #ccc;}
.tableBox .disabled td{color:#888;}
.disabled .grade{color:#aaa;}
.disabled img{opacity:.5;}
.tableBox .info{width:100%; text-align:left; line-height:24px;}
.tableBox .score{color:#fff; padding-right:10px;}
.tableBox .score i{width:0; height:0; margin-left:3px; display:inline-block; border-style:solid; border-width:4px;}
.tableBox .score.icon-up i{border-color:#fff transparent transparent transparent; border-width:8px 4px 0 4px;}
.tableBox .score.icon-down i{border-color:transparent transparent #fff transparent; border-width:0 4px 8px 4px;}

.infoBox{width:90%; margin:0 auto;  clear:both;}
.infoBox ul.tab{width:100%; height:40px; background:#ccc; border-radius:3px 3px 0 0;}
.infoBox ul.tab li{width:100px; text-align:center; height:34px; line-height:34px; float:left; border-radius:3px 3px 0 0; cursor:pointer; margin-left:20px; position:relative; top:6px; font-size:14px;}
.infoBox ul.tab li.on{background:#fff; color:#397ddb;}
.infoBox .con{padding:20px; background:#fff; line-height:22px; border-radius:0 0 3px 3px; text-align:left;}
.infoBox .con p{margin-top:20px;}
.picShow{width:800px; clear:both; height:500px; overflow:hidden; margin-top:15px; position:relative;}
.picShow ul{width:500%; position:absolute;}
.picShow li{width:800px; float:left;}
.tableBox td .picShow img{width:800px; height:500px; border:none;}
.picShow .number{padding:0 10px; height:20px; position:absolute; left:50%; bottom:15px; background:rgba(255,255,255,.4); border-radius:15px;}
.picShow .number span{width:10px; height:10px; cursor:pointer; border-radius:15px; background:#ccc; float:left; margin:5px 0 0 8px;}
.picShow .number span:first-child{margin-left:0;}
.picShow .number span.on{background:#009fee;}
.picShow .arrow{width:40px; height:70px; display:block; position:absolute; background:url(../images/icon.png) no-repeat; top:215px;}
.picShow .prev{background-position:-32px 0; left:0px;}
.picShow .next{background-position:-32px -74px; right:0px;}
.version{width:800px; clear:both; overflow:hidden;}
.version li{width:100%; float:left; height:36px; line-height:36px; text-align:center; font-size:14px; border-bottom:1px dotted #aaa;}

.version li.title{background:#f4f4f4; padding:0; margin-bottom:10px; border-bottom:none;}
.version span{float:left; width:33%;}
/*========live=========*/
.liveBox{width:100%; clear:both; margin:15px auto; position:relative;}
.liveBox input {width:70%;  padding:5px 8px; height:18px; line-height:18px; border-radius:3px; background:none; color:#333; font-size:13px; border:2px solid #bbb;}
.liveBox input:focus{border-color: #0f93d5;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;}
.liveBox  select{border:1px solid #bbb; height:30px; line-height:30px; border-radius:3px; width:70%; color:#333;}
.liveBox input:disabled,.liveBox  select:disabled{border-color:#ddd; color:#999;}
.liveBox li{padding:0 2%; width:96%; min-height:46px; clear:both; border-bottom:2px solid #fff; background:#f4f4f4; position:relative;}
.liveBox li.head{background:#6a6c81; border-radius:5px 5px 0 0; color:#fff; font-size:14px;}
.liveBox li ol{width:98%; clear:both; border:1px solid #ddd; border-radius:5px; margin:6px 1% 16px; overflow:hidden;}
.liveBox li ol li{border-top:1px solid #ddd; border-bottom:none; background:#fff;}
.liveBox li ol li.heads{background:#e7eef1; color:#397ddb; font-size:14px; border-top:none; border-radius:5px 5px 0 0;}
.live_number, .live_seq, .live_name, .live_status, .live_operat {
	float: left;
	height: 46px;
	line-height: 46px;
	display: inline-block;
	text-align: left;
}
.live_number, .live_seq{
	width: 20%;
}
.live_number i{width:20px; text-align:center; height:20px; line-height:20px; background:#3dafe8; color:#fff; font-size:14px; font-weight:bold; font-style:normal; display:inline-block; border-radius:20px;}
.live_name,.live_operat {
	width: 30%;
}
.toggle {
	background-color: #547494;
	border-radius: 60px;
	color: white;
	width:80px;
	height: 27px;
	margin: 11px 10px 0 5px;
	overflow: hidden;
	display: inline-block;
	zoom: 1;
	position:relative;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	-webkit-backface-visibility: hidden;
}
.liveBox li ol .toggle{background-color:#6a6c81;}
.liveBox li ol .toggle .toggle-radio{color:#fff;}
.liveBox li ol .toggle.toggle-off .toggle-radio{color:#fff;}
.toggle.toggle-off {
	background-color: #cbd2d8;
}
.liveBox li ol .toggle.toggle-off{background-color: #c9d9d6;}
.toggle.toggle-off .toggle-radio {
	background-image: url(../images/icon_toggle.png);
	background-position: -59px 4px;
	color: white;
	left: 10px;
	margin-left: 0.5px;
	margin-right: -10px;
	z-index: 1; text-indent:12px;
}
.toggle.toggle-off .toggle-radio:first-child {
	left: -120%;
}
.toggle .toggle-radio {
	background: url(../images/icon_toggle.png) no-repeat 48px 4px;
	cursor:pointer;
	color: #1abc9c;
	display: block;
	font-weight: 700;
	height: 21px;
	line-height:20px;
	left: 120%;
	top:0;
	margin-left: -1px;
	padding:4px 34px 3px 18px;
	position:absolute;
	text-align: center;
	z-index: 2;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	-webkit-backface-visibility: hidden;
}
.toggle .toggle-radio:first-child {
	left: 0;
}
/*====btn===*/
.btn{ white-space:nowrap; padding:0 10px; text-align:center; font-size:12px; height:24px; line-height:24px; display:inline-block; margin-left:6px; border-radius:15px; color:#fff;}
.download{background:#85af23;}
.edit{background:#0f93d5;}
.delete{background:#ba1919;}
.rebuild{background:#fff; color:#6a6c81; padding:1px 15px;}
.add{background:#fff; color:#6a6c81; padding:1px 0; width:78px; cursor:pointer; position:relative;}
.add ul{width:100%; position:absolute; left:0; top:0; display:none;}
.add:hover ul{display:block;}
.add li,.add:hover li{width:100%; float:left; height:26px; line-height:26px; cursor:pointer; border:1px solid #ccc; border-top:none; background:#eee; color:#555;}
.add li:first-child{border-top:1px solid #ccc;}
.add li:hover{background:#0099ed; color:#fff;}
.liveAdd{background:#0f93d5; padding:1px 10px;}
.sure{width:1px; display:inline-block; height:1px; position:relative;}
.deleteBox{width:200px; position:absolute; z-index:10; left:-200px; top:-40px; border:1px solid #aaa; box-shadow:1px 1px 20px #777; border-radius:5px;}
.deleteBox .title{ text-align:center; padding:0; height:32px; line-height:32px; background:#657cdf; font-size:14px; font-weight:bold; color:#fff; border-radius:5px 5px 0 0;}
.deleteBox .close{width:24px; height:24px; display:block; position:absolute; right:5px; top:5px; background:url(../images/icon.png) no-repeat 0 -104px; text-indent:-9999px;}
.deleteBox .close:hover{background-position:0 -129px;}
.deleteBox .content{padding:10px; background:#fff; border-radius:0 0 5px 5px; font-size:14px; clear:both; text-align:center; line-height:24px;}
.deleteBox .content p{padding-top:10px; text-align:center;}

.detail{background:#397ddb;}
.btn:hover{background:#222; color:#fff;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;}
.sort:hover{background:#444;}
/*slide*/
@keyframes show {
  0%{opacity:0;}
  100%{opacity:1;}
}
@-webkit-keyframes show {
   0%{opacity:0;}
  100%{opacity:1;}
}
.show {
  -webkit-animation-name: show;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-name: slide;
  
}
@keyframes hide {
  0%{opacity:1;}
  100%{opacity:0;}
}
@-webkit-keyframes hide {
   0%{opacity:1;}
  100%{opacity:0;}
}
.hide {
  -webkit-animation-name: hide;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-name: slide;
  
}
/*========drag=========*/
.nestedSortable-item, .nestedSortable-placeholder {position: relative;}
.nestedSortable-handle {
    background:#777; cursor:move;
}
.btnDrag{background:#7490ab;}
.nestedSortable-placeholder {
    margin: 5px 0;
    padding: 0;
    padding:40px 0;
	min-height:40px;
    background: #fff;
    border: 2px dashed #bed2db;
	display:table;
	width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.popupBox ul.list li.nestedSortable-placeholder{
	min-height:10px;
	border: 2px dashed #bed2db;
	display:block;
}
.liveBox li.nestedSortable-placeholder{
	min-height:50px;
	border: 2px dashed #bed2db;	
	display:block;
}
.nestedSortable-drag {
    position: absolute;
    pointer-events: none;
    z-index: 999;
    opacity: .8;
}


.nestedSortable-table {
    width: 100%;
} 

.nestedSortable-table-handle {
    cursor: move;
    background: #fff;
    border: 2px dashed #bed2db;
    text-decoration: none;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100px;
}

.nestedSortable-table-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.nestedSortable-table-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nestedSortable-table-drag {
    position: absolute;
    pointer-events: none;
    z-index: 999;
    opacity: .8;
}
/*==========page========*/
.pages{width:336px; margin:10px auto; clear:both; font-size:13px; line-height:24px;}
.pages input{width:30px; border:1px solid #bcbcbc; text-align:center; height:18px; line-height:18px;}
.pages a{margin:0 5px; border:1px solid #bcbcbc; display:inline-block; height:24px; line-height:24px; padding:0 6px;}
.pages a:hover{border-color:#0f93d5; color:#0f93d5;}
.pages a.disabled{color:#999; border-color:#ddd; cursor:default;}
.pages span{margin:0 10px;}
.pages strong{font-weight:bold; color:#0f93d5; padding-right:4px; font-size:16px;}
/*=======login==========*/
.loginBox{width:900px; height:350px; margin:11% auto 0 auto; clear:both; box-shadow:1px 1px 30px rgba(0,0,0,.5); background:#fff; position:relative;}
.eagle{width:96px; height:205px; background:url(../images/eagle.png) no-repeat; position:absolute; left:596px; top:-175px;}
.loginBox .left{width:500px; float:left;}
.loginBox .right{width:400px; height:350px; background:#5b55e2; color:#fff; font-size:14px;}
.loginBox h1{font-size:36px; font-family:'微软雅黑'; line-height:40px; font-weight:lighter; color:#fff; text-align:center; padding:35px 0;}
.loginBox .text{padding:15px 10px 0 38px; font-style:italic; line-height:30px;}
.loginBox h3{font-size:24px; line-height:30px; font-weight:lighter; padding:30px;}
.loginBox ul{padding:0 30px;}
.loginBox li{width:100%; float:left; margin-bottom:20px; position:relative;}
.loginBox li i{width:23px; height:22px; display:block; position:absolute; left:12px; top:12px; background:url(../images/icon.png) no-repeat;}
.loginBox li i.user{background-position:0 -184px;}
.loginBox li i.passwd{background-position:-28px -184px;}
.loginBox input{width:82%; padding:12px 10px 12px 44px; border:2px solid #ebeaf0; background:#ebeaf0; height:18px; line-height:18px; color:#555; font-size:14px;}
.loginBtn{width:106px; height:46px; line-height:46px; text-align:center; font-size:14px; color:#fff; background:#5b55e2; display:block;}
.loginBtn:hover{background:#333; color:#fff;}
.loginBox li em{width:150px; height:43px; line-height: 43px; padding:0 5px; background:#fff0ec; color:#f40000; border:1px solid #FD8063; position:absolute; left:417px; top:0; font-style:normal;}
.loginBox .loading{width:104px; height:44px; background:#fff url(../images/loading.gif) no-repeat center center; border:1px solid #dedede; position:absolute; left:0; top:0;}
/*===========popup===========*/
#all{width:100%; height:100%; background:#000; opacity:0.7; filter:alpha(opacity=70); position:fixed; left:0; top:0; z-index:9;}
.popupBox{width:80%; position:absolute; z-index:10; left:10%; margin-left:-4px; top:140px; border:4px solid rgba(255,255,255,.15); border-radius:9px;  min-width:800px;}
.minBox{width:466px; min-width:400px; left:50%; margin-left:-233px; position:fixed; top:150px;}
.popupBox .title{padding:0 10px; height:32px; line-height:32px; background:#8f5ceb; font-size:14px; font-weight:bold; color:#fff; border-radius:5px 5px 0 0;}
.popupBox .close{width:24px; height:24px; display:block; position:absolute; right:5px; top:5px; background:url(../images/icon.png) no-repeat 0 -104px; text-indent:-9999px;}
.popupBox .close:hover{background-position:0 -129px;}
.popupBox .content{padding:20px; background:#fff; border-radius:0 0 5px 5px; clear:both;}
.popupBox ul.form{margin-left:5%; width:95%; clear:both; overflow:hidden;}
.popupBox ul.form li{width:45%; float:left; margin-bottom:20px; font-size:14px;}
.minBox  ul.form li{width:100%;}
.popupBox ul.form li.full{width:90%;}
.popupBox ul.form li.button{width:90%; text-align:center; margin-bottom:0;}
.minBox ul.form li.button{width:96%;}
.popupBox ul.form label{width:80px; text-indent:12px; color:#fff; height:36px; line-height:36px; border-radius:3px 0 0 3px; background:#7a90ef; float:left;}
.popupBox ul.form li.full label,.popupBox ul.form li.uploads label{border-radius:3px; margin-right:8px;}
.popupBox ul.form li p{padding-left:88px;}
.popupBox input[type="text"],.popupBox input[type="url"],.popupBox input[type="password"]{width:60%; padding:6px 10px; height:20px; line-height:20px; border:2px solid #d5d5d5; border-radius:0 3px 3px 0; background:#fff; font-size:13px; float:left;}
.popupBox input[type="text"].search{width:70%;}
.popupBox .preview input[type="text"],.popupBox .preview input[type="url"]{width:92%; border-radius:3px;  border-radius:0 3px 3px 0;}
.popupBox select{width:60%; padding:0 0 0 6px; height:36px; line-height:36px; border:1px solid #ccc;}
.popupBox .check{color:#d90000; margin-left:8px; line-height:36px; font-size:12px;}
.popupBox .check2{color:#d90000; margin-left:8px; line-height:36px; font-size:12px; position:absolute; width:124px; background:#fff;}
.popupBox .red{color:#d90000; font-weight:bold;}
.popupBox textarea{width:78%; height:210px;  padding:6px 10px; border:2px solid #d5d5d5; font-size:13px; line-height:22px; border-radius:3px;}
.popupBox input:focus,.popupBox textarea:focus{border-color: #0f93d5;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
}
.popupBox .uploadBtn{width:63%; float:left;}
.popupBox .nameList{width:100%; float:left; max-height:470px; overflow:auto;}
.popupBox ul.form .nameList label{width:96%; height:32px; line-height:32px; float:left; margin-bottom:5px; border-bottom:1px dotted #bbb; background:#eee; border-radius:5px; color:#555; cursor:pointer;}
.popupBox ul.form .nameList input{width:15px; height:15px; float:left; margin:9px 0 0 12px; background:none;}
.popupBox .nameList i{width:16px; height:16px; float:left; margin:9px 0 0 12px; background:url(../images/icon.png) no-repeat -28px -157px;}
.popupBox .nameList i.on{background-position:-47px -157px; }

.popupBox .ng-invalid.ng-dirty,.loginBox .ng-invalid.ng-dirty{
    border-color:#ee2b2b !important;
}
.popupBox .ng-valid.ng-dirty,.loginBox .ng-valid.ng-dirty {
  border-color:#00a914  !important;
}

.upload{width:60%; padding:0 8px; height:36px; line-height:36px; text-align:center; color:#fff; float:left; border-radius:3px; background:#397ddb;}
.popupBox ul.form li.full .upload{width:30%;}
.preview{width:63%; clear:both; float:left; margin-top:5px; margin-left:90px;}
.popupBox ul.form li.full .preview{width:100%;}
.popupBox ul.form .preview li{width:100%; float:left; margin-bottom:10px; margin-top:5px; position:relative;}
.popupBox ul.form li.full .preview li{width:31%; margin-right:15%;}
.preview .btn{font-size:12px; float:right;}
.preview i{width:24px; height:26px; background:url(../images/icon.png) no-repeat 0 -155px; float:left; margin-right:10px;}
.preview span{line-height:22px; margin-right:110px;}
.preview .bar{width:100%; height:3px; background:#ccc; overflow:hidden; position:relative; border-radius:10px; margin-top:5px; clear:both;}
.preview .barOn{width:100%; height:3px; position:absolute; left:0; top:0; background:#0099ed; border-radius:10px;}
.preview .pic{width:64px; height:48px; position:absolute; left:-64px; top:-11px;}

.upload:hover{color:#fff; background:#333;}
.popupBox .submit{width:150px; text-align:center; height:36px; line-height:36px; display:inline-block; font-size:14px; color:#fff; background:#008bd7; margin-top:2px; border-radius:3px;}
.minBox .submit{background:#555;}
.popupBox .submit:hover{background:#333;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;}

/*classifyBox*/
.popupBox ul.list{width:100%; clear:both; overflow:hidden; background:#f6f6f6; border-radius:0 0 5px 5px;}
.popupBox ul.list li{width:100%; float:left; padding:10px 0; border-top:1px dotted #ccc; text-align:center;}
.popupBox ul.list li.titles{border-top:none; padding:5px 0; line-height:24px; background:#6a6c81; color:#fff; font-size:14px; border-radius:5px 5px 0 0;}
.popupBox ul.list span{float:left; display:inline-block;  margin-left:2%;}
.popupBox ul.list .number{width:5%; text-align:center; margin:0; line-height:36px;}
.popupBox ul.list li.titles .number{line-height:24px;}
.popupBox ul.list .name{width:30%;}
.popupBox ul.list .id{width:30%; }
.popupBox ul.list .operate{width:29%;  text-align:center;}
.popupBox  ul.list input[type="text"]{width:80%; float:none; border-radius:3px;}
/*tipBox*/
.tipBox{width:300px; position:absolute; z-index:10; left:50%; margin-left:-151px; top:208px; border:1px solid #aaa; box-shadow:1px 1px 20px rgba(0,0,0,.6); border-radius:4px;}
.tipBox .title{padding:0 10px; height:32px; line-height:32px; background:#008bd7; font-size:14px; font-weight:bold; color:#fff; border-radius:3px 3px 0 0;}
.tipBox .close{width:24px; height:24px; display:block; position:absolute; right:5px; top:5px; background:url(../images/icon.png) no-repeat 0 -104px; text-indent:-9999px;}
.tipBox .close:hover{background-position:0 -129px;}
.tipBox .content{padding:20px; background:#fff; border-radius:0 0 3px 3px; font-size:14px;  clear:both;}
/*picture*/
.popupBox .picBox{width:88%; background:#f1f1f1; height:315px; margin:0; text-align:left;}
.popupBox .picBox img{width:420px; height:315px;}
.popupBox .picShow{margin:16px auto;}
.popupBox .picShow img{width:800px; height:500px;}
.viewPic{cursor:pointer;}
/*====================common==============*/
.left { float: left; }
.right { float: right; }
.clear { width: 100%; height: 0px; overflow: hidden; clear: both; }
.grade{font-weight:bold; color:#0f93d5; font-size:16px;}
option{height:24px; line-height:24px;}