<div class="popupBox minBox" ng-show="infoBox =='show'" ng-class="{'show': 'show', 'hide': ''}[infoBox]" style="display:none;">
	<div class="title">
    	个人信息
    	<a href="javascript:void(0)" class="close" ng-click="closeAll()">关闭</a>
    </div>
    <div class="content">
    	<form novalidate  name="infoForm" >
    	<ul class="form">
            <li>
            	<label>Token</label>
                <input type="text" name="infoToken"  ng-pattern="myToken" ng-model="info.Token" required />
                <span class="check" ng-show="infoForm.infoToken.$$dirty && infoForm.infoToken.$$invalid">填写有误</span>
            </li>
            <li>
            	<label>AppID</label>
                <input type="text" name="infoAppid" ng-pattern="myToken" ng-model="info.AppID" required />
                <span class="check" ng-show="infoForm.infoAppid.$$dirty && infoForm.infoAppid.$$invalid">填写有误</span>
            </li>
			<li>
            	<label>Secret</label>
                <input type="text" name="infoSecret" ng-pattern="myToken" ng-model="info.Scret" required />
                <span class="check" ng-show="infoForm.infoSecret.$$dirty && infoForm.infoSecret.$$invalid">填写有误</span>
            </li>
            <li class="button">
                <a href="javascript:void(0);" ng-click="submitInfo()" class="submit">确定</a>
            </li>
        </ul>
        </form>
    </div><!--end content-->
</div><!--end popupBox-->
<div class="popupBox minBox" ng-show="passwdBox =='show'" ng-class="{'show': 'show', 'hide': ''}[passwdBox]" style="display:none;">
	<div class="title">
    	修改密码
    	<a href="javascript:void(0)" class="close" ng-click="closeAll()">关闭</a>
    </div>
    <div class="content">
    	<form novalidate  name="passwdForm" >
    	<ul class="form">
            <li>
            	<label>原密码</label>
                <input type="password" name="passwdOld"  placeholder="长度为6-12位字母或数字"  ng-pattern="myPasswd" ng-model="passwd.old" required />
                <span class="check" ng-show="passwdForm.passwdOld.$$dirty && passwdForm.passwdOld.$$invalid">填写有误</span>
            </li>
            <li>
            	<label>新密码</label>
                <input type="password" name="passwdNew" ng-model="passwd.news" class="newpassword" required />
                <span class="check" ng-show="passwdForm.passwdNew.$$error.newpasswd">填写有误</span>
            </li>
			<li>
            	<label>确认密码</label>
                <input type="password" name="passwdConfirm" ng-model="passwd.confirms" class="confirmpassword"  required />
                <span class="check2" ng-show="passwdForm.passwdConfirm.$$error.confirmpasswd">两次输入密码不一致</span>
            </li>
            <li class="button">
                <a href="javascript:void(0);" ng-click="submitPasswd()" class="submit">确定</a>
            </li>
        </ul>
        </form>
    </div><!--end content-->
</div><!--end popupBox-->
<div class="tipBox" ng-show="tipBox=='show'" ng-class="{'show': 'show', 'hide': ''}[tipBox]" style="display:none;">
	<div class="title">
    	温馨提示
    	<a href="javascript:void(0)" class="close" ng-show="tipClose=='show'" ng-click="tipBoxHide()" style="display:none;">关闭</a>
        <a href="javascript:void(0)" class="close" ng-show="allClose=='show'" ng-click="closeAll()" style="display:none;">全部关闭</a>
    </div>
    <div class="content">
    	{{tipText}}
    </div>
</div><!--end tipBox-->